# Hugo
/public/
/resources/
/themes/*/exampleSite/
*.log
/_ignore/
/node_modules
/themes/ryder-dev/
/hugo_stats.json
# /themes/benstraw/

# Analytics exports
/assets/plausible-export/

# frontmatter
.frontmatter/
frontmatter.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editor-specific
.vscode/
.idea/
